.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}


.dialogsItem {
    padding: 20px;
}

.formControl {
    border: solid red 3px;
}

.messages {
padding: 20px;
}

.error {
    color: yellow;}